.List {
border: 1px solid green

}
.ArticleContainer {
border: 0px solid black
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: green
}
